<div class="">
    <img src="../assets/titulo6.png" alt="pokemon" class="img-titulo">
    <img src="../assets/squirtle.png" alt="pikachu" class="img-pikachu">
</div>
<div class="flex gap-4 inicio">
    <div class="flex flex-column align-items-center justify-content-center animate__animated animate__zoomIn animate__fast ">
        <img src="../assets/poquebola.png" alt="pikachu" class="img-poquebola">
        <a  [routerLink]="['level1']">Facil (4x4)</a>
    </div>
    <div class="flex flex-column align-items-center justify-content-center animate__animated animate__zoomIn animate__fast">
        <img src="../assets/poquebola.png" alt="pikachu" class="img-poquebola">
           <a [routerLink]="['level2']">Normal (4x6)</a>
    </div>
    <div class="flex flex-column align-items-center justify-content-center animate__animated animate__zoomIn animate__fast">
        <img src="../assets/poquebola.png" alt="pikachu" class="img-poquebola">
        <a [routerLink]="['level3']">Dificil (5x6)</a>
    </div>
</div>
